#testactivity-navigator-previous {
	float: left;
}
#testactivity-navigator-next {
	float: right;
}

.teacher {
	margin: 5px;
	display: inline-block;
}

.drop {
	width:40%;
	vertical-align: top;
	display: inline-block;
	margin-left: 20px;
}

.drop-containers {
	width: auto;
	height: auto;
	border: 1px solid;
	display: block;
	background: #eee;
	color: #555555;
	margin: 10px;
	padding: 10px;
	list-style-type: none;
}
.contentQuestionVideo{
  position: relative;
  padding: 0;
  margin: 30px 0;
}
.contentQuestionVideo .mejs__overlay-play,
.contentQuestionVideo .mejs__layers,
.contentQuestionVideo .mejs__video,
.contentQuestionVideo iframe,
.contentQuestionVideo video,
.contentQuestionVideo > .video, 
.contentQuestionVideo > div[aria-label*="Video Player"]{
  width: 800px !important;
  height: 450px !important;
}
.lfr-panel-content .contentQuestionVideo .questionVideo {
  width: calc(90% - 20px);
}
.lfr-panel-content .contentQuestionVideo .mejs__overlay-play,
.lfr-panel-content .contentQuestionVideo .mejs__layers,
.lfr-panel-content .contentQuestionVideo .mejs__video,
.lfr-panel-content .contentQuestionVideo iframe,
.lfr-panel-content .contentQuestionVideo video, 
.lfr-panel-content .contentQuestionVideo > .video, 
.lfr-panel-content .contentQuestionVideo > div[aria-label*="Video Player"] {
  width: 700px !important;
  height: 400px !important;
}
.questionVideo {
  position: absolute;
  top: 0;
  z-index: 9;
  background: rgba(255, 255, 255, 0.9);
  width: calc(100% - 20px);
  height: calc(99.2% - 20px);
  padding: 35px;
  margin: 10px;
  border-radius: 3px;
  max-width: 780px;
  box-sizing: border-box;
}
.questionVideo .question {
	border: 0;
	border-style: solid;
	border-color: black;
}
.questionVideo .question .questiontext {
	margin: 4px;
}
.questionVideo .question .answer {
  display: block;
  width: 100%;
  float: left;
  margin: 5px 0;
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.8);
}
.questionVideo .question.in-line .answer.in-line {
  display: inline;
  width: auto;
  float: left;
  margin: 10px 1% 10px 0;
}
.questionVideo .question .answer .answer-options {
  line-height: 1;
  display: inline-block;
  margin-left: 30px;
  cursor: pointer;
}
.questionVideo .question .answer .answer-options p {
  padding: 0;
}
.question-page {
	display: none;
}
.question-page.question-page-current {
	display: block;
}
.questionVideo .aui-button {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
  margin: 0px 20px;
  left: 0;
  text-align: center;
  border-top: 1px solid #d4d2d2;
}
.questionVideo .aui-button input {
  padding: 10px 40px;
  margin-top: 20px;
}
.questionVideo .question.correct, 
.questionVideo .question.incorrect {
  width: 100%;
  padding-right: 10%;
  min-height: 50px;
  padding-right: 90px;
  height: auto;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.contentQuestionVideo .mejs__controls {
  background: black;
}
@media (max-width: 1200px) {
  .contentQuestionVideo {
    position: relative;
    padding: 0;
    margin: 30px 0;
  }
  .contentQuestionVideo .mejs__overlay-play,
  .contentQuestionVideo .mejs__layers,
  .contentQuestionVideo .mejs__video,
  .contentQuestionVideo iframe,
  .contentQuestionVideo video, 
  .contentQuestionVideo > .video, 
  .contentQuestionVideo > div[aria-label*="Video Player"] {
    width: 640px !important;
    height: 360px !important;
  }

  .lfr-panel-content .contentQuestionVideo .mejs__overlay-play,
  .lfr-panel-content .contentQuestionVideo .mejs__layers,
  .lfr-panel-content .contentQuestionVideo .mejs__video,
  .lfr-panel-content .contentQuestionVideo iframe,
  .lfr-panel-content .contentQuestionVideo video, 
  .lfr-panel-content .contentQuestionVideo > .video, 
  .lfr-panel-content .contentQuestionVideo > div[aria-label*="Video Player"] {
    width: 600px !important;
    height: 370px !important;
  }
}
@media (max-width: 992px) {
  .contentQuestionVideo .mejs__overlay-play,
  .contentQuestionVideo .mejs__layers,
  .contentQuestionVideo .mejs__video,
  .contentQuestionVideo iframe,
  .contentQuestionVideo video, .contentQuestionVideo > .video, 
  .contentQuestionVideo > div[aria-label*="Video Player"] {
    width: 490px !important;
    height: 375px !important;
  }

  .lfr-panel-content .contentQuestionVideo .mejs__overlay-play,
  .lfr-panel-content .contentQuestionVideo .mejs__layers,
  .lfr-panel-content .contentQuestionVideo .mejs__video,
  .lfr-panel-content .contentQuestionVideo iframe,
  .lfr-panel-content .contentQuestionVideo video, 
  .lfr-panel-content .contentQuestionVideo > .video, 
  .lfr-panel-content .contentQuestionVideo > div[aria-label*="Video Player"] {
    width: 450px !important;
    height: 370px !important;
  }
}
@media (max-width: 768px) {
  .contentQuestionVideo .mejs__overlay-play,
  .contentQuestionVideo .mejs__layers,
  .contentQuestionVideo .mejs__video,
  .contentQuestionVideo iframe,
  .contentQuestionVideo video, .contentQuestionVideo > .video, 
  .contentQuestionVideo > div[aria-label*="Video Player"] {
    width: 100% !important;
    height: 100% !important;
    min-height: 370px;
  }
  .lfr-panel-content .contentQuestionVideo .questionVideo {
    width: 100%;
  }
  .lfr-panel-content .contentQuestionVideo .mejs__overlay-play,
  .lfr-panel-content .contentQuestionVideo .mejs__layers,
  .lfr-panel-content .contentQuestionVideo .mejs__video,
  .lfr-panel-content .contentQuestionVideo iframe,
  .lfr-panel-content .contentQuestionVideo video, 
  .lfr-panel-content .contentQuestionVideo > .video, 
  .lfr-panel-content .contentQuestionVideo > div[aria-label*="Video Player"] {
    width: 100% !important;
    height: 100% !important;
    min-height: 370px;
  }
}

#background {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	overflow: hidden;
}

#container {
	position: relative;
}

.ui-corner-all {
	border-radius: 4px;
}

.questiontype_draganddrop .items,.draggable-helper {
	width: 40%;
	display: inline-block;
	list-style-type: none;
}

.questiontype_draganddrop .items>div,.draggable-helper>div {
	width: auto;
	height: auto;
	border: 1px solid;
	background: #fff;
	color: #555555;
	margin: 10px;
	padding: 10px;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 450px; }
#sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 90px; font-size: 4em; text-align: center; }
#ui-sortable-default li{ background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6; border: 1px solid #D3D3D3; color: #555555; font-weight: normal;}

.ico_course { max-width: 200px;}

.question_sortable .answer{
	border: 1px solid;
	background: #fff;
	color: #555;
	margin: 10px;
	padding: 10px;
}


.course-type-list {
  margin: 0;
  list-style: none;
  display: flex;
  min-height: 150px;
}
.course-type-list ul {
  list-style: none;
  margin: 10px;
}
.course-type-list > li {
  position: relative;
  width: 25%;
  display: inline-flex;
  vertical-align: top;
  padding: 0;
  background: #ffffff;
  border: 1px solid #d3d8da;
  border-radius: 5px;
  margin: 10px;
  max-width: 200px;
}
.course-type-list > li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 50px;
  position: relative;
}

.course-type-list > li a img {
  position: absolute;
  top: 15px;
  max-height: 60px;
}
.course-type-list > li a.default-course-type-image:before {
  content: "";
  position: absolute;
  top: 15px;
  max-height: 60px;
  width: 60px;
  height: 60px;
  background-image: url(../icons/ico_course_default.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  left: calc(50% - 30px);
}
.course-type-list > li:first-child a:before {
  content: "";
  position: absolute;
  top: 15px;
  max-height: 60px;
  width: 60px;
  height: 60px;
  background: url(../icons/ico_course_white.svg) no-repeat center;
  background-size: 40px;
}
.course-type-list > li .tooltip-button {
  font-size: 0;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  background: transparent;
  bottom: 5px;
  right: 5px;
  z-index: 9;
  cursor: pointer;
}
.course-type-list > li .tooltip-button:before, .course-type-list > li .tooltip-button:after {
  content: "";
  width: 15px;
  height: 1px;
  position: absolute;
  display: block;
  background: #999;
  right: 5px;
  top: 10px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}
.course-type-list > li .tooltip-button:before {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.course-type-list > li .tooltip-button.open:before {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}
.course-type-list > li .tooltip-text {
  position: absolute;
  top: 100%;
  left: -1px;
  width: 101%;
  background: #ffffff;
  margin-top: -5px !important;
  border: 1px solid #d3d8da;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.course-type-list > li a{
	padding-top:80px;
	padding-bottom:10px;	
}

.chrome .course-type-list > li a, 
.firefox .course-type-list > li a{
	padding-top:60px;
	padding-bottom:0px;	
}


.changeeditingmode-portlet .aui-button-holder img {
    z-index: 3;
    background: transparent;
    top: 0;
    width: 41px;
    display: none;
}



.generic-pop-up {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1000; 
 }
.generic-pop-up .pop-up-content {
	 position: relative;
	 top: 0 !important;
	 left: 0 !important;
	 width: 100%;
	 max-width: 650px;
	 background: white;
	 padding: 40px;
	 z-index: 9999;
	 margin: 0 20px;
	 max-height: 90vh;
	 overflow-y: auto; 
}
.generic-pop-up .pop-up-content::-webkit-scrollbar {
	display: none;
}
.generic-pop-up .pop-up-content .aui-button-holder {
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}
.generic-pop-up .pop-up-content .aui-button-holder input {
	width: auto;
	padding: 10px 25px;
}
.generic-pop-up .pop-up-content h2 {
	margin: 0; 
}
.generic-pop-up .pop-up-content .instructions {
	position: relative;
}
.generic-pop-up .pop-up-content .instructions .help {
	position: absolute;
	top: 0;
	right: 0; 
}